<h2 class="mm_h2">{{ maincollection_title }}</h2>
<div id="mm_slider-home" class="mm_slider-responsive">
    {% assign maximumItemsToShow = settings.maximum_items_to_show %}
    {% assign count = 0 %}
    {% for related_product in collections[settings.maincollection_name].products %}
        {% if count != maximumItemsToShow %}
            {% capture count %}{{ count | plus: 1 }}{% endcapture %}
            {% include 'product-list-repeatable-item-slick' with related_product %}
        {% endif %}
    {% endfor %}
</div>