
<h2 class="mm_home-h2">{{ maincollection_title }}</h2>
<div class="your-class responsive">
  <div>your content1</div>
  <div>your content2</div>
  <div>your content3</div>
  <div>your content4</div>
  <div>your content5</div>
  <div>your content6</div>
  <div>your content7</div>
  <div>your content8</div>
  <div>your content9</div>
  <div>your content10</div>
</div>
