<div class="tagline-area">
	<div id="searchcont" class="inline formfields">
		<form class="inputrow" action="/search" method="get">
			<input type="hidden" name="type" value="product" />
			<label class="hoverlabel" for="searchinput">{{ settings.text_search }}</label>
			<input class="search defaulttextjs" name="q" id="searchinput" type="text" />
			<input type="submit" value="→" />
		</form>
	</div>
</div>