<div class="pagesnippetwidget widget{% if template == 'index' %} one-third column{% endif %}">
    <h6>The title for your widget</h6>
    
    Put your own content in here
    
    {% comment %} You can use the code: '{{ data }}' to get the handle from the Theme Settings {% endcomment %}
    
</div>